  body
  {
    margin:0;
    padding:0;
  }
ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li
  {
    display: inline-block;
  }
.bg
  {
    background-image: url("http://i.imgur.com/cxco96K.png");

    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    background-repeat: repeat;
    background-attachment:  fixed;
    position: fixed;
    background-size: contain;
    margin-left: 0;
    margin-top: 0;
  }
h1
  {
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
  }
.wrapper
  {
    border-left: solid, 5px, #222;
    border-right: solid, 5px, #222;
    background-color: SteelBlue;
    position: relative;
    box-sizing: border-box;
    display: block;
    max-width: 1500px;
    margin: auto;

  }
header
  {
    z-index: 30;
    position: relative;
    background-size: cover;
    background-position: 50% 0;
    transition: background-color .3s, opacity .3s;
    z-index: 50;
    border: solid 5px #222;
    border-top: none;
    background-image: url("http://i.imgur.com/EJJb3aP.jpg");
  }
.headLogo
  {
    max-height: 150px;
  }
.navbar
  {
    border-left: solid 5px #222;
    border-right: solid 5px #222;
    background-image: url("http://i.imgur.com/H57RiEA.jpg");
    background-repeat: space;
  }
.button
  {
    color: #FFF;
    text-decoration: none;
    padding: 9px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Geneva, sans-serif;
    transition-duration: 0.4s;
  }
.button:hover
  {
    background-color: #080119;
  }
.content
  {
    border-top: solid 5px #222;
  }
